# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim Swap
*.swp

# Project
Makefile
cmake-build*
roms*
nemulator
CMakeFiles
cmake_install.cmake
testing
build
bin

# Clion
.idea

# Libs
!lib/googletest-master/.gitignore
lib/googletest-master/*
lib/*
lib
lib/CppSockets*
lib/imgui*
lib/portable-file-dialogs*
lib/yaml-cpp*

# Emulator files
logs
saves
