[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/portable-file-dialogs"]
	path = lib/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "lib/CppSockets"]
	path = lib/CppSockets
	url = https://github.com/simondlevy/CppSockets
